body {
  background-color: #3a3b3c;
  color: aliceblue;
  font-family: "Black Ops One", cursive;
}
h1 {
  font-size: 50px;
}
.first-section {
  display: flex;
}
.half-width {
  width: 50%;
  margin: 5%;
  padding: 10px;
}
.half-width img {
  width: 90%;
}
.half-width input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
}
.half-width button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #3090c7;
}
span {
  color: #ee9a4d;
}
p {
  color: gray;
}
ol {
  list-style: none;
}

ol li:before {
  content: "✓";
}
.card-on {
  width: 50%;
  margin: 5%;
  padding: 10px;
  border: 2px solid tomato;
  box-shadow: 0 0 10px 5px;
  border-radius: 10px;
}
.text-style {
  text-align: center;
}
.card-to {
  width: 30%;
  margin: 5%;
  padding: 10px;
  box-shadow: 0 0 20px 10px;
  padding: 10px;
}
.card-to imag {
  width: 90%;
}
.car-lo {
  width: 30%;
  margin: 5%;
}
.car-lo video {
  width: 100%;
}
.car-lo ul li {
  padding: 5px;
  background-color: gray;
  margin: 4px;
  border-radius: 5px;
}
.divided-width {
  width: 30%;
  margin: 5%;
  box-shadow: 0 0 10px 5px black;
  padding: 20px;
  text-align: justify;
  border-radius: 10px;
}
.button {
  background-color: tomato;
  margin: 10px;
  padding: 15px;
  width: 300px;
  color: wheat;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 500px;
  box-shadow: 0 0 10px 10px black;
}
footer {
  background-color: #3090c7;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.fotter-style {
  width: 30%;
  margin: 5%;
  box-shadow: 0 0 10px 0px black;
  padding: 20px;
  border-radius: 30px;
}
